<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>购买页面</title>
    <link rel="stylesheet" href="css/buyer.css">
</head>

<body>
<div id="app">
    <div class="header">
        <input v-model="search" placeholder="搜索商品名" class="search-input">
        <button @click="getNeedId" class="type-button">搜索</button>
    </div>
    <template>
    <div class="book-list">
        <div class="book" v-for="book in books" :key="book.id">
            <img :src="book.imgPath" alt="图片" class="book-image">
            <div class="book-info">
                <p class="book-name">{{ book.name }}</p>
                <p class="book-number">剩余数量: {{ book.count }}</p>
                <p class="book-number">价格: {{ book.price }}</p>
            </div>
        </div>
    </div>
    </template>
</div>

<script src="vue.js" type="text/javascript" charset="utf-8"></script>
<script src="axios-0.18.0.js"></script>
<script>
    new Vue({
            el: '#app',
            data: {
                search: '',
                books: [],
            },
            created() {
                this.getAll()
            },
            methods: {
                transform(){
                    // 中文字符串
                    const chineseText = "abc";
                    const encodedText = encodeURIComponent(chineseText);
                    console.log(encodedText); // 输出 "%E4%BD%A0%E5%A5%BD%E4%B8%96%E7%95%8C"
                },
                getAll(){
                    axios.get("/item").then((res)=>{
                        this.books = res.data.data;
                        //console.log(res.data.data)
                    })
                },
                getNeedId() {
                    if (this.search !== ""){
                        axios.get("/item/" + this.search).then((res) => {
                            if (res.data.total === 0){
                                alert("未找到任何商品！")
                            } else {
                                this.books = res.data.data;
                            }
                        })
                    } else {
                        alert("搜索内容不能为空！")
                        axios.get("/item").then((res)=>{
                            this.books = res.data.data;
                        })
                    }
                },
            }
         });
</script>
</body>
</html>
