<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login!</title>
    <link rel="stylesheet" href="css/login-page.css">
    <link rel="stylesheet" href="../elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
</head>

<body>
<div class="container" id="app">
    <!-- Sign In -->
    <div class="container__form container--signin">
        <form action="#" class="form" id="form2">
            <h2 class="form__title">登录</h2>
            <input type="text" placeholder="User" class="input" v-model="id"/>
            <input type="password" placeholder="Password" class="input" v-model="password"/>
            <button class="btn" @click="handlegetById">Sign In</button>
        </form>
    </div>
    <div class="overlay__panel overlay--right">
        <a class="btn" id="signUp" href="signup.html">Sign Up</a>
    </div>

</div>

<script src="vue.js" type="text/javascript" charset="utf-8"></script>
<script src="axios-0.18.0.js"></script>

<script>
    const vue = new Vue({
        el: '#app',
        data: {
            id:'',
            password:'',
            confirmPassword:''
        },

        methods: {
            handlegetById(){
                axios.get("/account/" + this.id).then((res)=>{
                    this.confirmPassword = res.data.data.password;
                    if (this.confirmPassword === this.password) {
                        window.location.href = 'buyer-page.html'
                    } else {
                        alert("密码或者账号错误")
                    }
                })
            }
        },
    });
</script>
</body>
</html>