<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login!</title>
  <link rel="stylesheet" href="css/login-page.css">
  <link rel="stylesheet" href="elementui/index.css">
</head>

<body>
<div class="container" id="app">
<div class="container right-panel-active">
  <!-- Sign Up -->
  <div class="container__form container--signup">
    <form action="#" class="form" id="form1">
      <h2 class="form__title">注册</h2>
      <input type="text" placeholder="User" class="input" v-model="account.username"/>
      <input type="text" placeholder="Role" class="input" v-model="account.role"/>
      <input type="text" placeholder="Email" class="input" v-model="account.email"/>
      <input type="password" placeholder="Password" class="input" v-model="account.password"/>
      <button class="btn" @click="handleAdd">Sign Up</button>
    </form>
  </div>

  <div class="overlay__panel overlay--left">
    <a class="btn" id="signIn" href="login.html">Sign In</a>
  </div>


</div>
</div>

<script src="vue.js" type="text/javascript" charset="utf-8"></script>
<script src="axios-0.18.0.js"></script>

<script>
  const vue = new Vue({
    el: '#app',
    data:{
      account:{
        username:'',
        password:'',
        email:'',
        role:''
      }
    },
    methods: {
      handleAdd(){
        axios.put("/user",this.account).then((res)=>{
          if(res.data.success){
            window.location.href = 'login.html'
          } else {
            alert(res.data.errorMsg);
          }
        })
      }
    },
  });
</script>
</body>
</html>